@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif !important;
}

* {
  @apply m-0 p-0 box-border;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply m-0 p-0;
}

.container {
  @apply max-w-[1440px] mx-auto;
}

// button styles

.button {
  @apply flex items-center justify-center py-2 px-6 rounded-[56px] h-[56px] text-base font-semibold text-white;
}

// labels

.labels {
  @apply w-fit inline-flex py-2 px-[10px] rounded-full items-center justify-center bg-white_200 hover:bg-white_300 cursor-pointer;
}
.labels.active {
  @apply bg-black text-white;
}

// typography styles

.h1-text {
  @apply font-bold text-5xl leading-[58px] tracking-[-1.92px];
}
.h2-text {
  @apply font-bold text-4xl tracking-[-1.92px] text-black;
}
.h3-text {
  @apply font-bold text-2xl tracking-[-0.4px] text-black;
}
.subheading-text {
  @apply font-normal text-xl leading-6 tracking-[-0.4px] text-black;
}
.small-text {
  @apply text-base font-normal;
}
.body-small-text {
  @apply font-normal text-sm tracking-[-0.16px];
}
.caption-text {
  @apply font-semibold text-xs tracking-[0.1px];
}
// input style

.input {
  @apply w-full border border-solid rounded-[7px] focus-visible:outline-1 focus-visible:outline  focus-visible:outline-purple_200   bg-white flex items-center self-stretch border-gray_600 py-[10px] px-3;
}

// select style

.select-style {
  // remove icon
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  // icon
  background-image: url("../images/icons/Expand.svg");
  background-position: calc(100% - 8px) calc(1em + -4px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 20px, 20px;
  background-repeat: no-repeat;
}
