@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif !important;
}

* {
  @apply m-0 p-0 box-border;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply m-0 p-0;
}
.sitepoint-new-marketing .container {
  @apply max-w-[1440px] mx-auto;
}

.sitepoint-new-marketing .button {
  @apply flex items-center justify-center xs:py-2 xsm:py-4 xs:px-4 xsm:px-6 rounded-[56px] text-base font-semibold text-white hover:bg-purple_300;
}

.sitepoint-new-marketing .labels {
  @apply w-fit inline-flex py-2 px-[10px] rounded-full items-center justify-center bg-white_200 hover:bg-white_300 cursor-pointer;
}

.sitepoint-new-marketing .labels.active {
  @apply text-white bg-black;
}

.sitepoint-new-marketing .h1-text {
  @apply font-bold xs:text-2xl xsm:text-4xl md:text-5xl leading-[58px] md:tracking-[-1.92px];
}
.sitepoint-new-marketing .h2-text {
  @apply font-bold xs:text-2xl md:text-4xl xs:tracking-[1.08px] md:tracking-[-1.92px] text-black;
}
.sitepoint-new-marketing .h3-text {
  @apply font-bold text-2xl tracking-[-0.4px] text-black;
}
.sitepoint-new-marketing .subheading-text {
  @apply font-normal text-xl leading-6 tracking-[-0.4px] text-black;
}
.sitepoint-new-marketing .small-text {
  @apply text-base font-normal;
}
.sitepoint-new-marketing .body-small-text {
  @apply font-normal text-sm tracking-[-0.16px];
}
.sitepoint-new-marketing .caption-text {
  @apply font-semibold text-xs tracking-[0.1px];
}
.sitepoint-new-marketing .input {
  @apply w-full border border-solid rounded-[7px] focus-visible:outline-1 focus-visible:outline  focus-visible:outline-primary-700 hover:border-gray_300  bg-white flex items-center self-stretch border-gray_600 py-[10px] px-3;
}
.sitepoint-new-marketing .select-style {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("../images/icons/Expand.svg");
  background-position: calc(100% - 8px) calc(1em + -4px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 20px, 20px;
  background-repeat: no-repeat;
}
